@keyframes floating {
  0%{
    transform: translatey(0px);
  }

  50%{
    transform: translatey(-5px);
  }

  100%{
    transform: translateY(0px);
  }
  
}

.showcase__grid{
  position: relative;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-areas: 
  ". . . . . . ."
  "MON MON MON VR VR HEAD HEAD" 
  "MON MON MON VR VR HEAD HEAD" 
  "MON MON MON WHAT WHAT WHAT WHAT"
  ". . . . . . .";
  height: 100%;
  width: 100%;
  padding: 0 4rem;
  background-color: #222426;
  perspective: 2000px;
}

#showcase__background{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
  transform-style: preserve-3d;
  transform: translateZ(-400px) scale(1);
}

.showcase-monkey{
  position: relative;
  grid-area: MON;
  background-color: rgb(83, 83, 83);
}

.showcase-monkey__video video{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  object-fit: cover;
}

.showcase-monkey__content{
  position: absolute;
  bottom: 3rem;
  left: 1rem;
}

.monkey__content-title h3{
  font-size: 6rem;
}


.showcase-headset{
  position: relative;
  grid-area: VR;
  background: linear-gradient(213.76deg, #020304 -15.86%, #000000 23.9%, #000000 65.1%);
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase-headset__glow{
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.showcase-headset__glow video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.showcase-headset__vr{
  display: flex;
  width: 100%; /* Full width */
  justify-content: center;
}

.showcase-headset__vr img{
  width: 50%;
  animation: 1s ease 0s infinite floating;
  z-index: 10;
}

.showcase-headset__content{
  position: absolute;
  bottom: 3rem;
  z-index: 10;
}

.headset__content-title,
.headset__content-description{
  text-align: center;
  color: var(--main-font-color);
}

.headset__content-title{
  font-size: 2rem;
}


.showcase-vr{
  position: relative;
  grid-area: HEAD;
  display: flex;
  align-items: center;
}

.showcase-vr__headset{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.showcase-vr__headset video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 30%;
}

.showcase-vr__content{
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  color: rgb(85, 85, 85);
  padding: 5rem;
  z-index: 10;
  transition: all .5s ease;
}

.showcase-vr__content:hover{
  opacity: .5;
}

.vr__content-title{
  font-size: 3rem;
}


.showcase-intro{
  position: relative;
  grid-area: WHAT;
  background: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase-intro__content{
  color: var(--main-font-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.intro__content-button{
  width: 100%;
  display: flex;
  justify-content: center;
}

.intro__content-button button{
  padding: 1rem 4rem;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.intro__content-button button:hover{
  color: black;
  background-color: white;
}

@media screen and (min-width: 320px) and (max-width: 810px) {
  .showcase__grid{
    grid-template-areas: 
  ". . . . . . ."
  "MON MON MON MON MON MON MON" 
  "VR VR VR VR HEAD HEAD HEAD" 
  "WHAT WHAT WHAT WHAT WHAT WHAT WHAT"
  ". . . . . . .";
  }

  .showcase-monkey__video{
    height: 30rem;
  }

  .showcase-monkey__video video{
    height: 20rem;
  }

  .showcase-vr__content{
    padding: 1rem;
  }

  .vr__content-title{
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .monkey__content-title h3{
    font-size: 4rem;
  }
 
  .monkey__content-description p{
    font-size: 15px;
  }

  .showcase-headset__content{
    bottom: 1rem;
  }

  .headset__content-title{
    font-size: 10px;
  }

  .headset__content-description{
    font-size: 8px;
  }

  .showcase-vr__content{
    padding: 1rem;
  }

  .vr__content-title{
    font-size: 10px;
  }

  .showcase-intro__content{
    padding: 0.5rem;
    gap: 5px;
  }

  .intro__content-title{
    font-size: 10px;
  }

}
